.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #fee715ff;
  background-color: #101820ff;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 160px;
  width: 1000px;
  height: 100%;
}
.image {
  margin-top: 10px;
  width: 180px;
  height: 150 px;
}
.logos {
  display: flex;
  justify-content: space-around;
  background-color: #101820ff;
  border-bottom: 5px solid #fee715ff;
  height: 50px;
}

